:root {
    /* --primary-color: #575757;
    --secondary-color: #fff; */
    --primary-100: #2563eb;
    --primary-200: #598EF3;
    --text-100: #000000;
    --text-200: #000000;
    --bg-100: #ffffff;
    --bg-200: #eeeeee;
    --bg-300: #ffffff;
}

.dark-theme {
    --primary-100: #2563eb;
    --primary-200: #598EF3;
    --primary-300: #D3E6FE;
    --accent-100: #d946ef;
    --accent-200: #fae8ff;
    --text-100: #ffffff;
    --text-200: #ffffff;
    --bg-100: #1e293b;
    --bg-200: #334155;
    --bg-300: #475569;
}

body {
    background-color: var(--bg-100);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    /* Asegúrate de que el header tenga una z-index mayor que el contenido */
}

.main {
    margin-top: 60px;
}

tr td {
    color: var(--text-100);
}

.table.table-totals tfoot tr td:last-child {
    color: var(--text-100);
}

.header {
    background-color: var(--bg-100);
}

.footer {
    background-color: var(--bg-100);
    color: var(--text-200);
}

.footer .widget-title {
    color: var(--text-100);
}

.cart-summary {
    background-color: var(--bg-200);
}

.btn.btn-outline-secondary.btn-clear-cart {
    background-color: var(--bg-200);
}

.modal button.btn.btn-primary,
.dropdown-cart-action .btn,
.btn.btn-block.btn-sm.btn-primary.cash,
.btn-primary.login-link {
    background-color: var(--primary-100);
    border-color: var(--primary-100);
}

select.form-control,
input.form-control,
textarea.form-control {
    background-color: var(--bg-200);
    border-color: var(--bg-300);
    color: var(--text-200);
}

select.form-control:focus,
input.form-control:focus,
textarea.form-control:focus {
    background-color: var(--bg-200);
    border-color: var(--primary-300);
    color: var(--text-200);
}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: var(--text-100);
}

p {
    color: var(--text-100);
}


li {
    color: var(--text-100);
}

label {
    color: var(--text-200);
}

.contact-info-label {
    color: var(--text-100);

}

.cart-table-container,
.table-cart thead {
    background-color: var(--bg-200);
    border-color: var(--bg-200);
    color: var(--text-100);
}

.header-dropdown .search_input {
    background-color: var(--bg-200);
    border-color: var(--bg-200);
    color: var(--text-100);
}

.header-dropdown .search_input:focus {
    background-color: var(--bg-200);
    border-color: var(--primary-300);
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    background-color: var(--bg-200);
}

.header-contact,
.whatsapp-order {
    background-color: var(--bg-200);

}

.dropdownmenu-wrapper {
    background-color: var(--bg-200);
}

span {
    color: var(--text-200);
}

.btn-outline-secondary {
    background-color: var(--bg-300);
    color: var(--text-100);
}

.modal-content {
    background-color: var(--bg-100);
}

.fab {
    width: 20px;
}

.cart-dropdown .text-white {
    width: 32px;
}


.icon-home {
    display: inline-block;
    width: 16px;
    margin-right: 10px;
}

#themeImg {
    width: 30px;
}